body {
    color: #C7C7C7;
    padding: 0;
    margin: 0;
}

.playerContainer {
    height: 100vh;
    width: 100vw;
    background: gray;
    display: flex;
}

.leftContainer {
    height: 100%;
    width: 30%;
    background: #081E50;
}

.upperHotbar {
    height: 50px;
    width: 100%;
    background: #051437;
}

#settingsbarContainer {
    height: 100%;
    display: flex;
    margin-left: 1vw;
    margin-right: 1vw;
}

#playlistsContainer {
    height: calc(100vh - 50px - 2vw);
    display: grid;
    background: #06163C;
}
.playlist, .music {
    margin-bottom: 10px;
    height: 2em;
    width: calc(100% -6px);
    background: #051437;
    font-size: 130%;
    border: 3px solid blue;
}

.rightContainer {
    height: 100%;
    width: 70.8%;
    margin-left: auto;
    background: #0A225B;
}

#musicContainer {
    height: calc(100vh - 150px - 2vw);
    background: #06163C;
}

#hotbarContainer {
    height: 150px;
    background: #051437;
    display: flex;
}

.contentContainer {
    margin: 1vw;
    overflow: auto;
    background: black;
}

.gridContainer {
    width: 100%;
    margin-bottom: 1vw;
    margin-left: 1vw;
    margin-right: 1vw;
    display: grid;
}

.flexContainer {
    display: flex;
}

#indicatorMusicTime {
    margin-left: auto;
}

.buttonContainer {
    height: 70px;
    margin-top: auto;
    display: flex;
}

.sideContainer {
    width: 20%;
}

.mainButtonsContainer {
    width: 60%;
    display: flex;
}

.volumeContainer {
    width: 100%;
    display: flex;
}

#indicatorVolume {
    margin-left: auto;
}

#miniPlayerButton {
    margin: 0px;
    margin-left: auto;
}

.centralPosition {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}



#modalEditMenu {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
}
#editMenu {
    height: 80vh;
    width: 70vw;
    margin: calc(10vh - 5px);
    margin-left: auto;
    margin-right: auto;
    background: #051439;
}
.leftHotbar {
    padding: 10px;
    height: 100%;
    width: 35%;
    display: grid;
}
.buttonsMenu {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 5px;
    height: 2em;
    width: calc(100% -6px);
    background: #051437;
    font-size: 130%;
    border: 3px solid blue;
}
.topbar {
    height: 25px;
    width: 100%;
    display: flex;
    border-bottom: 5px solid;
}
#closeEditMenuButton {
    background: red;
    height: 25px;
    width: 25px;
    margin-left: auto;
}
.gridEditMenuContainer {
    display: grid;
}
.flexEditMenuContainer {
    height: calc(80vh - 50px);
    display: flex;
}
.rightEditMenu {
    padding: 10px;
    height: 100%;
    width: 65%;
    border-left: 5px solid;
    background: #06163C;
}

.innerContentMenuEditor {
    padding: 0;
    display: grid;
}
.addMusic {
    height: 100%;
    width: 100%;
    display: none;
}
#inputSrcMusic, #inputNamePlaylist {
    width: calc(100% - 10px);
}
.editExistingPlaylist {
    height: 100%;
    width: 100%;
    display: none;
    background: black;
}
.creatNewPlaylist {
    height: 100%;
    width: 100%;
    display: none;
}
.selected {
    background: black;
}
.onloadPlaylist {
    height: 100%;
    width: 100%;
    display: none;
    background: red;
}


.textContainer {
    display: flex;
}
.button {
    height: 100%;
    width: 90px;
    display: flex;
}
.buttonMenu {
    height: 30px;
    width: 60px;
    margin: auto;
    background: white;
}
input {
    width: 100%;
    height: 20px;
}
h1, h2, h3, p {
    font-size: 1.3em;
    margin: 0;
    padding: 0;
}
img {
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
